<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Dropbox OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-p4iwmllykm4ytc2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.613801329299-jcqrgumln3s9udtomsll5dahcbjcivej</string>
			</array>
		</dict>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_vp-calibrate._tcp</string>
		<string>_vp-calibrate._udp</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
